/*
v2	ajustes no tamanho das linhas e nas tags das fontes
v3	caixa de código com fundo prateado
v4	fontes
v5	imagens e legendas
v6	tamanho máximo da imagem
v7	sem capitalizar
v8	<pre> otimizado
v9	fix do cache
v10	<code> em bold
*/

body{
	font-family:Arial,"Liberation Sans",sans-serif;
	font-size:24px;
	line-height:1.5em;
}
bloquote{
	background:#c0c0c0;
	border-left:gray solid 5px;
}
code{
	font-family:"Courier New","Liberation Mono",Courier,monospace;
	font-weight: bold;
}
figcaption{
	color:gray;
	text-align:center;
}
h1{
	text-align:center;
}
h2{
	display:block;
	padding-top:0.25em;
}
h2,hr{
	border:none;
	border-top:1px solid silver;
}
img{
	display:block;
	margin:0 auto;
	max-width: 100%;
}
pre{
	background:silver;
	padding:1em;
	white-space:pre-wrap;       /* Since CSS 2.1 */
	word-wrap:break-word;       /* Internet Explorer 5.5+ */
}
td{
    vertical-align:top;
}
.center{
	text-align:center;
}
.circle{
	border-radius: 100%;
}
.container{
    margin:0 auto;
    width:100%;
}
@media all and (max-width:799px){
    .container td{
        display:inline-block;
        width:100%;
    }
}
