pre{
	background:black;
	color:lime;
	padding:24px;
	white-space:pre-wrap;       /* Since CSS 2.1 */
	white-space:-moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space:-pre-wrap;      /* Opera 4-6 */
	white-space:-o-pre-wrap;    /* Opera 7 */
	word-wrap:break-word;       /* Internet Explorer 5.5+ */
}
td{
    vertical-align:top;
}
.center{
	text-align:center;
}
.circle{
	border-radius: 100%;
}
.container{
    margin:0 auto;
    width:100%;
}
@media all and (max-width:799px){
    .container td{
        display:inline-block;
        width:100%;
    }
}
