/*
v2	ajuste no tamanho dos títulos e borda cinza no topo deles
*/

h1{
	text-align:center;
}
h1,h2,h3{
	line-height:2em;
	margin:0;
}
h1::first-letter,h2::first-letter ,h3::first-letter{
	text-transform: uppercase;
}
h2{
	display:block;
	margin-bottom:-0.5em;
}
h2,hr{
	border:none;
	border-top:1px solid silver;
}
pre{
	background:black;
	color:lime;
	font-weight:bold;
	padding:24px;
	white-space:pre-wrap;       /* Since CSS 2.1 */
	white-space:-moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space:-pre-wrap;      /* Opera 4-6 */
	white-space:-o-pre-wrap;    /* Opera 7 */
	word-wrap:break-word;       /* Internet Explorer 5.5+ */
}
td{
    vertical-align:top;
}
.center{
	text-align:center;
}
.circle{
	border-radius: 100%;
}
.container{
    margin:0 auto;
    width:100%;
}
@media all and (max-width:799px){
    .container td{
        display:inline-block;
        width:100%;
    }
}
