a:link{
	font-weight: bold;
}
a:hover{
	color:red;
}
a:visited{
	color:red;
}
body{
	margin:0 auto;
	width: 800px;
	max-width:calc(100% - 20px);
}
button{
	cursor: pointer;
}
form{
	text-align: center;
}
h1,h2{
	text-align: center;
}
html{
	width:100%;
}
p{
	text-align: justify;
}
textarea{
	height: 4em;
	width: 100%;
}
/*classes*/
.center{
	text-align: center;
}
/*ids*/
