a:link{
	font-weight: bold;
}
a:hover{
	color:red;
}
a:visited{
	color:red;
}
body{
	display:block;
	margin:0 auto;
	width: 800px;
}
button{
	cursor: pointer;
}
form{
	text-align: center;
}
h1,h2{
	text-align: center;
}
p{
	text-align: justify;
}
textarea{
	height: 4em;
	width: 100%;
}
/*classes*/
.center{
	text-align: center;
}
/*ids*/
