body{
	width: 800px;
	margin:0 auto;
	max-width: 100%;
}
button{
	cursor: pointer;
}
form{
	text-align: center;
}
h1,h2{
	text-align: center;
}
p{
	text-align: justify;
}
textarea{
	height: 4em;
	width: 100%;
}
/*classes*/
.center{
	text-align: center;
}
/*ids*/
#posts{
	margin: 0;
	padding: 0;
}
#posts li{
	border: 1px dashed gray;
	list-style: none;
	margin: 0;
	padding: 1em;
}
#posts li:hover{
	background: yellow;
	cursor: pointer;
}