blockquote{
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 0;
	margin-bottom: 1em;
	padding: 0.5em 10px;
}
blockquote p {
	display: inline;
	white-space: pre-wrap;
}
img{
	max-width:100%;
}
p code{
	font-weight:bold;
}
pre{
	white-space: pre-wrap;
}
pre code{
	background-color: black;
	color: lime;
	display: block;
	font-family: 'Courier New', Courier, monospace;
	font-size: 0.80em;
	font-weight:bold;
	overflow-x: auto;
	max-width: 100%;
	padding: 10px;
}
.link-social a{
	color:#333;
	font-weight: bold;
	text-decoration: none;
}
.link-social a:hover{
	text-decoration: underline;
}
